#hero-search{
    background-image: url("../public/img/parking.jpg");
    width: 99vw;
    min-height: 100vh;
    background-size: 100% 100%; 
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    color: white;

    
    h1{
        margin-left: 120px;
        color: $color1;
        font-family: 'EB Garamond', serif;
        text-shadow: 2px 2px 2px black;

    }
    .form-feature{
    border: 2px solid white;
    border-radius: 15px;
    box-shadow: 0 0 10px $color1;
    background-color: #0009; background-blend-mode: darken;
    }

    form{
        border-color: aqua;
        color: $dark;
    }
    button{
        background-color: $color1;
        color: white;
        text-shadow: 2px 2px 2px black;
    }
    button:hover{
        color: $color1;
        background-color: transparent;
        border: 1px solid $color1;
        box-shadow: 0 0 8px $color1;
    }
}



#rent {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;




    img{
        width: $max;
        height: 50px;
    }
    

    .heading_container {
        color: white;
    
    }
    h2{
        font-family: $font;
        font-family: 'EB Garamond', serif;  
  
    }
    h2.shadow::after {
        margin-top: 20px; /* distance goes here */
        display: block;
        content: ' ';
        height: 2px;
        background: $color1;
        box-shadow: 0 0 8px 0px $color1;
    }
    .rent-row-1,
    .rent-row-2 {
        display: flex;
        justify-content: center;
        margin: 5vh 0;
        
        .rent-choice {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: justify;
            color: white;
            padding: $p-1;
            flex-basis: 50%;
            // height: 300px;
            border: 1px solid $color1;
            box-shadow: 0 0 8px $color1;
            .btn{
                background-color: $color1;
                color: white;
                text-shadow: 2px 2px 2px black;
            }
            .btn:hover{
                color: $color1;
                background-color: transparent;
                border: 1px solid $color1;
                box-shadow: 0 0 8px $color1;
            }
            img {
                width: 100%;
                height: auto;
            }
            border-radius: 7px;
        }
        .rent-choice:hover{
            transform: scale(1.1);

        } 

        .filler {
            width: 30%;
        }

    }
   
    // .rent-row-1 {
    //     margin-top: 5vh;
    // }

    // .rent-row-2 {
    //     margin-bottom: 5vh;
    // }
}

.mapouter {
    
    justify-content: center;
    // border: 5px solid $color1;
    position:relative;text-align:right;
    width: 98.9vw;
    margin: 0 0 150px 0;

    .gmap_canvas {
        // border: 5px solid white;
        overflow:hidden;
        background:none!important;
        height:500px;
        width:100%;
    }

    #gmap_canvas {
        border-radius: 15px;
    }
}

.pricingCsection {
    position: relative;
    
    // padding: $p-2;

    .bgbox {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: -1;
        // background-image: url("../public/mustang.jpg");
        // background-color: #0009; background-blend-mode: darken;
        // background-repeat: no-repeat;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
      }

    .heading_container {
        color: white;
        font-family: 'EB Garamond', serif;
        margin-top: 10px;
    }
  
    .box {
        background: white;
        text-align: center;
        padding: 25px;
        border-radius: 15px;
        margin-top: 75px;
        position: relative;
        overflow: hidden;
        margin-bottom: 30px;
        * {
            position: relative;
            z-index: 1;
        }
    
        &::before {
            content: "";
            position: absolute;
            top: -100px;
            left: 50%;
            width: 400px;
            height: 400px;
            background: $dark;
            border-radius: 100%;
            transform: translate(-50%, -50%);
            border:  4px solid $color1;
            box-shadow: 0 0 10px 2px $color1;
        }
    
        .price {
            font-size: 2rem;
            font-weight: bold;
            color: $color1;
            margin-bottom: 65px;
            text-shadow: 0 0 8px   $color1;
        }
    
        a {
            color: $dark;
            font-weight: 900;
        }
    
        &.boxcenter {
            margin-top: 45px;
        }
    }
}
@media (max-width: 768px) {

    #hero-search{
        background-color: #0009; background-blend-mode: darken;
    



    h1{
        margin-left: 0px;
        color: $color1;
        font-family: 'EB Garamond', serif;
        text-shadow: 2px 2px 2px black;
        

    }
    }

}