// colors
$color1: rgb(254,210,103);
$primary: rgba(8, 8, 239, 0.867);
$secondary: rgb(73,231,255);
$error: rgb(229, 32, 32);
$dark: rgb(16, 15, 15);
$login: #0B1218;
$clear: transparent;
$font:  'EB Garamond', serif;


// spaces
$p-1: 1%;
$p-2: 2%;
$p-3: 3%;
$max: 100%